<h1>Editing Book</h1>
<%= form_for(@book) do |f| %>

    <% if @book.errors.any? %>
      <div id="error_explanation">
        <h2><%= @book.errors.count %>errors.</h2>
        <ul>
        <% @book.errors.full_messages.each do |message| %>
        <li><%= message  %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

	<p id="title">title</p>
	<%= f.text_field :title %>
	<p id="body">Body</p>
	<%= f.text_area :body %>
    <p><%= f.submit 'Update Book' %></p>
    <p><span><%= link_to "Show", book_path(@book.id) %></span>
    <span><%= link_to "Back", "/books" %></span></p>
<% end %>
